 /* Setup Fonts */
 @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@500&display=swap');

 /* Everything Zero */

 * {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
 }

/* Header & Headings */

 header {
    height: 250px;
    background-color: #000;
 }

 header p {
    font-family: 'DynaPuff', cursive;
    letter-spacing: 0.2rem;
    font-size: 0.9rem;
    color: #fff;
    margin: 5px 0 0 55px;
 }

 header h1, header h2 {
    margin-left: 35px;
 }

 header h1 {
  position: relative;
  top: 4%;
 }

 header h1, header h2, footer h1, footer h2, footer h3 {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #fff;
    padding: 10px 20px;
}

h1 {
  font-size: 300%;
}

h2 {
  font-size: 200%;
  padding-bottom: 1%;
}

h3 {
  font-family: 'Roboto', sans-serif;
  font-size: 1.3rem;
}

h4 {
  padding: 30px 0 20px 0;
  font-size: 1.1rem;
  font-family: 'DynaPuff', cursive;
}

 /* Header Image and Animation */

 #dino-62-image {
    float: right;
    height: 250px;
    width: 250px;
    background: url('../IMAGES/Raptor-pikistLR.jpg') no-repeat center center;
    border-radius: 50%;
    margin: 35px 75px 0 0;
    animation-name: dino-zoom-zoom;
    animation-duration: 7.5s;
    animation-fill-mode: forwards;
 }

 #dino-63-image {
  float: right;
  height: 250px;
  width: 250px;
  background: url('../IMAGES/Pteranodon\,_DinoPark_Košice_Crop.jpg') no-repeat center center;
  border-radius: 50%;
  margin: 35px 75px 0 0;
  animation-name: dino-zoom-zoom;
  animation-duration: 7.5s;
  animation-fill-mode: forwards;
}

#dino-64-image {
  float: right;
  height: 250px;
  width: 250px;
  background: url('../IMAGES/triceratops-8171605.png') no-repeat center center;
  border-radius: 50%;
  margin: 35px 75px 0 0;
  animation-name: dino-zoom-zoom;
  animation-duration: 7.5s;
  animation-fill-mode: forwards;
}
 
 @keyframes dino-zoom-zoom {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.25);
    }
}

/* Navagtion */

nav ul {
    list-style-type: none;
    background-color: #000;
    margin-top: 25px;
  }
  
  nav li {
    float: left;
  }
  
  nav li a {
    display: inline;
    text-align: center;
    color: #45a049;
    padding: 25px;
    position: relative;
    font-family: 'DynaPuff', cursive;
    font-size: 1.3rem;
    margin-bottom: 5px;
    margin-left: 35px;
  }
  
 nav li a:hover {
  color: #66cc00;
  font-size: 1.5rem;
  }

  .activated {
    color: silver;
    font-size: 1.5rem;
  }

li a { 
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  padding: 25px;
}

p:last-child {
  padding-bottom: 75px;
}

/* Navagation End */

/* Sections */

.wide-one {
    width: 90%;
    padding: 1% 0;
    clear: both;
}

section {
  margin: 5% 0 5% 0;
}

section p {
  line-height: 2rem;
  padding: 10px 0 10px 0;
  font-family: 'Roboto', sans-serif;
  color: #000;
}

section > h1, h2, h3, h4 {
  color: #000;
}

.section-float-left {
  width: 60%;
  height: auto;
  float: left;
  margin-left: 3%;
  clear: both;
}

/* Aside */

.aside-float-left {
  width: 30%;
  height: auto;
  float: left;
  border: 2px solid #45a049;
  margin: 5% 1% 2% 2%;
}

aside {
  line-height: 1.5rem;
  font-family: 'Roboto', sans-serif;
  font-size: 0.9rem;
  padding: 1% 1%;
}

/* Aside End */

/* Google iFrame Map (https://google-map-generator.com/) */

.mapouter {
  position: absolute;
  text-align:right;
}

.gmap_canvas {
  overflow:hidden;
  background:none!important;
}

#iframe-map, iframe {
  width: 350px;
  height: 610px;
  padding: 2px 2px;
  border: 2px solid #45a049;
}

.float-right-iframe {
  display: block;
  width: 35%;
  float: right;
  margin-top: 5%;
  height: auto;
}

/* Google iFrame Map  End */

/* Form Contact */

input[type=text], input[type=email], input[type=submit] {
  width: 100%;
  padding: 12px 20px;
  margin: 1px 0;
  box-sizing: border-box;
  border: 2px solid #45a049;
  border-radius: 4px;
}

textarea {
  width: 100%;
  height: 98px;
  box-sizing: border-box;
  border: 2px solid #45a049;
  border-radius: 4px;
}

/* Form Contact End */

/* Tables */

table {
  margin: 0 0 1% 0;
}

table, th, td {
    border: 1px solid #45a049;
    padding: 5px 5px;
    background-color: #000;
    color: #fff;
    font-family: 'Roboto', sans-serif;
  }
  
  th {
    font-size: 1.2rem;
    color: yellow;
  }
  
  th:first-child {
    font-size: 1.5rem;
  }
  
  td:hover, th:hover {
    background-color: #45a049;
  }



/* GSI Styling */
/* Details     */

details {
  font-family: 'Roboto', sans-serif;
  padding-bottom: 10px;
  margin-left: 3%;
}

summary {
  padding-bottom: 10px;
  font-family: 'DynaPuff', cursive;
}

cite a {
  text-decoration: none;
  font-size: 0.8rem;
  font-style: italic;
  color: #45a049;
}

cite a:hover {
  color: #66cc00;
  font-size: 1rem;
}

.gsi-image {
    width: 300px;
    height: 300px;
    margin-left: 7.5%;
  }
  
  .gsi-image:hover {
    position: relative;
    top: -10px;
    left: -75px;
    width: 450px;
    height: 450px;
    transition-duration: 5s;
  }

  video {
    display: block;
    width: 100%;
    height: auto;
    margin: 3% 0 1% 0;
  }
    
  .video-p a {
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: #45a049;
  }

/* Span */

span {
  color: #45a049;
  font-size: 1.1rem;
}

span a {
  text-decoration: none;
  color: #45a049;
}

span:hover > a {
  font-size: 1.2rem;
  color: #66cc00;
}

/* Footer */

footer {
  position: relative;
  width: 100%;
  background-color: #000;
  height: 600px;
  padding-top: 30px;
  clear: both;
}

footer h2 {
  font-size: 100%;
  margin-bottom: 1em;
  border-bottom: 1px solid #45a049;
}

.float-left {
  float: left;
  width: 25%;
  text-align: center;
  box-sizing: border-box;
  border: 20px solid #000;
  background-color: inherit;
}

.float-right {
  float: right;
  width: 25%;
  text-align: center;
  box-sizing: border-box;
  border: 20px solid #000;
  background-color: inherit;
}

footer a {
  color: #fff;
  font-size: 100%;
}

footer li {
  margin-bottom: 1em;
}

.social-media i {
  font-size: 300%;
  padding: 12px;
  color: #fff;
}

.float-center {
  float: right;
  position: relative;
  right: 10%;
  text-align: left;
}

.float-center li {
  display: inline;
  padding-bottom: 10%;
}

/* Form Styling */

form {
  color: #fff;
  width: 90%;
  padding-left: 4%;
}

footer input[type=text], footer input[type=email], footer input[type=submit] {
  width: 90%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #45a049;
  border-radius: 4px;
}

fieldset {
  box-sizing: border-box;
  border: 2px solid #45a049;
  border-radius: 4px;
  padding: 1%;
  font-size: 1.1rem;
}

footer label {
  font-size: 1.1rem;
  display: block;
  float: left;
  padding: 2% 5%;
}

input[type=submit] {
  background-color: #45a049;
  color: #fff;
  font-size: 1.1rem;
}

input[type=submit]:hover {
  background-color: #66cc00;
}

input[type=text]:focus, input[type=email]:focus {
  outline: none;
  background-color: #45a049;
}

footer h3 {
  font-size: 1.2rem;
}

/* Footer End */

/* Media Queries */

@media  screen and (max-width: 1200px) {



}

@media screen and (max-width: 950px) {


}

@media screen and (max-width: 800px) {

  .float-right {
    width: 100%;
    margin: 0 auto;
    clear:both;
  }

  .float-left {
    width: 100%;
    margin: 0 auto;
    clear:both;
  }

  .aside-float-left {
    width: 100%;
    margin: 0 auto;
    clear:both;
  }

  .section-float-left {
    width: 100%;
    margin: 0 auto;
    clear:both;
  }

  .float-right-iframe {
    width: 100%;
    float: right;
    margin: 0 auto;
    clear: both;
  }

  .mapouter {
    position: relative;
  }

  nav li a {
    display: table;
  }

/* https://ourcodeworld.com/articles/read/307/how-to-create-a-responsive-table-with-css */

  .phone-table {
        width: 100%;
        margin-bottom: 15px;
        overflow-y: hidden;
        -ms-overflow-style: -ms-autohiding-scrollbar;
        border: 1px solid #ddd;
    }
    .table-responsive > .table {
        margin-bottom: 0;
    }
    .table-responsive > .table > thead > tr > th,
    .table-responsive > .table > tbody > tr > th,
    .table-responsive > .table > tfoot > tr > th,
    .table-responsive > .table > thead > tr > td,
    .table-responsive > .table > tbody > tr > td,
    .table-responsive > .table > tfoot > tr > td {
        white-space: nowrap;
    }

    /* https://ourcodeworld.com/articles/read/307/how-to-create-a-responsive-table-with-css */

  }
