 /* Setup Fonts */
 @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@500&display=swap');

 /* Everything Zero */

 * {
    margin: 0;
    padding: 0;
 }

/* Header */

 header {
    height: 230px;
    background-color: #000;
 }


 header p {
    font-family: 'DynaPuff', cursive;
    letter-spacing: 2px;
    font-size: small;
    color: #fff;
    margin-bottom: 30px;
    margin-left: 20px;
 }

 h1 {
    font-size: 350%;
 }

h2 {
    font-size: 250%;
}

 h1, h2 {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #fff;
    padding: 10px 20px;
}

 /* Header Image and Animation */
 #dino-62-image {
    float: right;
    height: 250px;
    width: 250px;
    background: url('../IMAGES/dino-origin-62.webp') no-repeat center center;
    border-radius: 50%;
    margin: 35px 75px 0 0;
    animation-name: dino-zoom-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
 }
 
 @keyframes dino-zoom-zoom {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.25);
    }
}

/* Navagtion*/

nav ul {
    list-style-type: none;
    background-color: #000;
  }
  
  nav li {
    float: left;
  }
  
  nav li a {
    display: inline;
    text-align: center;
    padding: 25px;
    position: relative;
    font-family: 'DynaPuff', cursive;
  }
  
 nav li a:hover {
    background-color: #222;
  }


li a { 
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  padding: 25px;
  color: #66cc00;
}

/* Section */

section {
    width: 75%;
    clear: both;
    padding-top: 50px;
    margin: auto;
}


/* Footer */

footer h2 {
    font-size: 75%;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

#float-left {
  float: left;
  width: 25%;
  background-color: #000;
  box-sizing: border-box;
  border: 2px solid #fff;
}

#float-right {
  float: right;
  width: 25%;
  background-color: #000;
  box-sizing: border-box;
  border: 2px solid #fff;
}

